<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/product/">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <style>
            .site-header {
                background-color: rgba(0, 0, 0, .85);
                -webkit-backdrop-filter: saturate(180%) blur(20px);
                backdrop-filter: saturate(180%) blur(20px);
            }
            .site-header a {
                color: #999;
                transition: ease-in-out color .15s;
            }
            .site-header a:hover {
                color: #fff;
                text-decoration: none;
            }

        </style>
    </head>

    <body>
    <nav class="site-header sticky-top py-1">
        <div class="container d-flex flex-column flex-md-row justify-content-between">

            <a class="py-2 d-none d-md-inline-block" href="http://localhost:8000/book/">Book</a>
            <a class="py-2 d-none d-md-inline-block" href="http://localhost:8000/review/">Review</a>

        </div>
    </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
